body { 
margin: 0px; 

} 
h2 { 
	color: red; 
	text-align: center;

} 

.form-container { 
margin-left: 30%; 
margin-right: 30%; 
margin-bottom: 7%; 
display: flex; 
} 

#contik {
	margin: 15px;

}

.listblock {
	margin: 70px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.8);
}

